/*
 * Skin: Blue
 * ----------
 */
.skin-blue .main-header .navbar {
  background-color: #fff;
  border-bottom: 1px solid #e2e5ec;
}

.skin-blue .main-header .navbar .nav > li > a {
  color: #ffffff;
}

.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}

.skin-blue .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  color: #555;
  background: rgba(0, 0, 0, 0.1);
}

.skin-blue .main-header .navbar .sidebar-toggle {
  color: #555;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #f8f8f8;
}

.skin-blue .main-header .logo {
  background-color: #121a2c;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}

.skin-blue .main-header .logo:hover {
  background-color: #121a2c;
}

.skin-blue .main-header li.user-header {
  background-color: #3c8dbc;
}

.skin-blue .content-header {
  background: transparent;
}

.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  background-color: #19233c;
}

.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
  color: #fff;
}

.skin-blue .sidebar a {
  color: #fff;
}

.skin-blue .sidebar a:hover {
  text-decoration: none;
}
