

/*
 * 例子页面展示框架
 * ---------------
 */
body {
  background: #e2e5ec none repeat scroll 0 0;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  padding-left: 10px;
  padding-right: 10px;
}
.no-border{ border:none !important; }
.no-padding{ padding: 0 !important;}
.content-wrapper {
  background: #e2e5ec;
  padding: 15px;
  padding-top: 0;
}

.content-header {
  padding: 15px 0px 15px 0px;
  position: relative;
}
.content-header > h1 {
  font-size: 24px;
  margin: 0;
}
.content-header > h1 > small {
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  padding-left: 4px;
}
.content-header > .breadcrumb {
  background: transparent none repeat scroll 0 0;
  border-radius: 2px;
  float: right;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 7px 5px;
  position: absolute;
  right: 10px;
  top: 15px;
}
.content-header > .breadcrumb > li > a {
  color: #444;
  display: inline-block;
  text-decoration: none;
}
.content-header > .breadcrumb > li > a > .fa, .content-header > .breadcrumb > li > a > .glyphicon, .content-header > .breadcrumb > li > a > .ion {
  margin-right: 5px;
}
.content-header > .breadcrumb > li + li::before {
  content: "> ";
}

.content {
  min-height: 250px;
  overflow: hidden;

}
.content-bg{ background: #fff; min-height: 300px;border-top: 3px solid #00c0ef;}

.box {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 3px;
  border-top: 3px solid #00c0ef;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;

}

.box-header .box-title {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  margin: 0;
}
.box-body {
  border-radius: 0 0 3px 3px;
  padding: 10px;

}
